* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
html, body, .react-native-web { height: 100%; width: 100%; position: absolute; top: 0; right: 0; overflow: hidden;}
body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}
input{
  width:200px;
}

.react-native-web {
  
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  
  * {
    padding: 5px;
  }

  .header{
    background-color:#555;
    height: 60px;
    width: 100%;
    color: #fff;
  }
 
  .error{
    color:#ED1C24;
    padding-left:10px;
    font-weight:bold;
  }

  .product-table{

    .head, .item, .footer{
      display: flex;
      flex-direction: row;
    }

    .empty{
      text-align:center;
    }

    .title{
      width:210px;
    }

  }
}
